{% extends "layout.html"%}
{% block title %}Horoscope{% endblock %}
{% block body %}
<main id="mainsection">
    <section>
        <article>
            <header>
                <div class='text-center text-4xl'>Choose your Zodiac</div>
            </header>
                <div class="flex flex-wrap -m-4 text-center p-4">
                    {% for key,value in sign_dates.items %}
                    <div class="p-1 md:w-1/6 sm:w-1/3 w-1/3">
                        <a href="/horoscope/{{key}}/today">
                        <div class="border-2 border-gray-200 py-6 rounded-lg" style='background-color:{{value.color}}'>
                            <span class='text-gray-800 text-xl' style='text-transform: capitalize'>{{key}}</span>
                            <br>
                            <span class='text-gray-500 text-sm'>from {{value.date.from}}<br>to {{value.date.to}}</span>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
        </article>
</section>
</main>
{% endblock %}
