{% extends "layout.html"%}
{% block title %}Horoscope{% endblock %}

{% block body %}
<header id="header">
    <nav id="navbar">
        <span><a href="#">Today</a></span>
        <span><a href="#">Tommorrow</a></span>
        <span><a href="#">Weekly</a></span>
        <span><a href="#">Monthly</a></span>
    </nav>
</header>
<main id="mainsection">
    <section>
        {% for sign, date_range in sign_dates.items %}
        <a href="/horoscope/{{sign}}/today">
        <div>
        <article>
            <header>
                <h3> {{sign}} </h3>
            </header>
            <p>
                {{date_range}}
            </p>
        </article>
        </div>
        </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
